h1
{
    font-family:"arial" !important;
}

h3{
    font-family: "arial" !important;
}
p{
    font-family: "arial" !important;
}

body{
    background-color: #1173aa !important;
}

#headerButtons{
    background-color: #1173aa !important;
}