p, ol, ul{
	font-family: Verdana;
	color:white;
	line-height: 1.5em;
	font-size: 1em;
}
h1{
	font-family: "Lucida Console";
	color:white;
}
h2{
	font-family: "Lucida Console";
	color:white;
}
a{
	font-family: Verdana;
	color:white;
}
li{
	font-family: Verdana;
	color:white;
}
#currentPage{
	background-color: white;
	color: white;
}
#head{
	width:100%;
	height:60px;
	border-width:1px;
	border-style:solid;
	text-align:left;
	overflow-x: auto;
	white-space:nowrap;
    overflow-y: hidden;
    background-color:black;
}
#head a{
	display:inline;
	border-width:1px;
	border-style:solid;
	text-decoration: none;
	color:white;
	background-color:black;
}
h5{
	color:white;
	font-family:"Lucida Console";
}
h3{
	color:white;
	font-family:"Lucida Console";
}
#headAndText{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 100;
}
#headAndText h1{
	color:white;
	font-family: "Lucida Console";
}
body{
	background-color:black;
	font-family: Verdana;
	overflow-y: auto;
}
iframe{
    border-width:0px;
	border-style:solid;
}

#leftMenu{
	text-align:center;
	float:left;
	width:20%;
	height:100%;
	word-wrap:break-word;
	min-height:100%;
	overflow:auto;
	position:fixed;
}

#leftMenu button{
	width:90%;
}

#rightMenu{
	text-align:center;
	float:right;
	width:15%;
	height:100%;
	min-height:100%;
	word-wrap:break-word;
	overflow:auto;
	position:fixed;
	right:0;
}

#rightMenu button{
	width:90%;
}

#centerMenu{
	width:56%;
	min-height:calc(100vh - 90px);
	word-wrap:break-word;
	margin-left: 22%;
	padding-left: 2%;
	padding-right: 2%;
	border-left: 1px solid white;
	border-right: 1px solid white;
	overflow-y:hidden;
	overflow-x:hidden;
	padding-top: calc(5% + 50px);
}

button{
	background-color:white;
	color:black;
	-webkit-transition-duration:1s;
	transition-duration:1s;
	border: 1px solid black;
	padding:5px 5px;
	cursor: pointer;
}
button:hover{
	background-color:grey;
	color:white;
}

#buttonMenu{
	background-color:white;
	color:black;
	-webkit-transition-duration:1s;
	transition-duration:1s;
	border-width: 0px;
	padding:16% 5px;
	
}
#buttonMenu:hover{
	background-color:grey;
	color:white;
}

#headerButtons{
	overflow: auto;
}

#headerButtons button{
	display:block;
	float:left;
}
#headerButtons button:hover{
	border: 1px solid white;
}

#posts img{
	width:25%;
	height:25%;
}

#preview img{
	width:25%;
	height:25%;
}

#content img{
	width:100%;
	height:100%;
}
#content{
	line-height: 200%;
}
#content li{
	margin-bottom: 10px;
}

#dropdown {
	position: relative;
	clear: both;
	display: inline-block;
	flex: 1;
	width: fit-content;
}

#dropdown>button{
	width: 100%;
}

#dropdown-content {
    display: none;
    position: absolute;
	min-width: 160px;
	width: 100%;
    z-index: 1;
}

#dropdown-content button {
	text-decoration: none;
	clear: both;
    display: block;
}

#dropdown:hover #dropdown-content {
	clear: both;
    display: block;
}

@media screen and (max-width: 900px){
	#leftMenu{
		display: none;
	}
	#rightMenu{
		display: none;
	}
	#centerMenu{
		width: 100%;
		margin-left: 0%;
		padding-left: 0;
		padding-right: 0;
		border: 0;
	}
}

#portSection{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}