.printOnly{
  display: none;
}

body{
  font-size: 9pt;
}

a{
  display: inline;
}

.indent1{
  margin-left: 20px;
}

.indent2{
  margin-left: 40px;
}

@media print{

  @page{
    margin: 0 !important;
    padding-top: 20px !important;
  }
  
  body{
    background-color: white !important;
    color: black !important;
    text-align: left;
    margin: 0 50px 30px 20px !important;
  }

  @page:first{
    padding-top: 0;
  }
  
  img, #headAndText, btn{
    display: none !important;
  }

  a, #printOnly a{
    display: inline;
    color: blue !important;
  }

  h1, p, h1, h2, h3, h4, h5, li, ul{
    color: black;
  }

  .printOnly{
    display: initial;
  }

  .noprint{
    display: none !important;
  }

  hr{
    width: 50%;
    margin: 0;
  }

  #centerMenu{
    margin: 0 !important;
    padding: 0 10px !important;
    border: 0px !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
  }
}

